<div class="player-rotate" id="player-rotate" title="旋转90度"></div>
<span class="player-pause-btn" title="暂停观看" id="player-btn"></span>

<div class="player-full-input" id="player-full-input">
	<input class="player-full-input-txt" id="player-full-input-txt" type="text" placeholder = "按回车键可以快速发弹幕" maxlength="30">
	<span class="player-full-input-btn">发送</span>
</div>

<div class="player-ctrl-btn">
	<span class="gift-show-btn" title="显示礼物栏" id="gift-show-btn">礼物竞猜</span>

	<div class="danmu-btn danmu-show-btn" title="关闭弹幕" id="player-danmu-btn">
		<span class="danmu-btn-quan"></span>
		<span class="danmu-btn-txt">弹幕</span>
	</div>

	<div class="player-videotype">
		<i></i>
		<span class="player-videotype-cur">超清</span>
		<ul class="player-videotype-list">
			<li class="on">超清</li>
			<li>高清</li>
			<li>标清</li>
			<li>流畅</li>
		</ul>
	</div>

	<div class="player-report-btn" title="问题反馈"></div>

	<div class="player-danmu-setting">
		<span id="player-danmu-setting-btn" class="player-danmu-setting-btn" title="弹幕设置"></span>
		<div class="player-danmu-pane">
			<div class="danmu-setting-close"></div>
			<p>弹幕设置</p>
			<p>透明度：</p>
			<p>弹幕位置：</p>
			<a></a>
			<a></a>
			<a></a>
			<div class="danmu-setting-alpha">
				<li><span></span><i></i>低</li>
				<li><span></span><i></i>中</li>
				<li><span></span><i></i>高</li>
			</div>
			<div class="danmu-setting-area">
				<li><span></span><i></i>全屏</li>
				<li><span></span><i></i>半屏</li>
				<li><span></span><i></i>上</li>
			</div>
		</div>
	</div>
	
	<div class="player-volume">
		<span class="player-volume-btn" title="音量"></span>
		<div class="sound-progress">
			<div class="sound-setting">
				<span class="sound-setting-bar" id="sound-setting-bar" style="height:50%;"></span>
				<span class="sound-setting-btn" id="sound-setting-btn" style="top:50%;"></span>
			</div>
		</div>
	</div>

	<span class="player-fullpage-btn" title="网页全屏" id="player-fullpage-btn"></span>
	<span class="player-fullscreen-btn" title="全屏" id="player-fullscreen-btn"></span>
</div>
