<ul>
	<li><span></span><i></i>使用免费道具消费</li>
	<li><span></span><i></i>使用银豆消费</li>
	<li><span></span><i></i>使用金豆券消费</li>
	<li><span></span><i></i>使用金豆消费</li>
</ul>

<p>※ 三项都勾选，优先使用免费道具，如免费道具不够本次消费使用银豆，银豆不够时使用金豆！</p>

<button>保存</button>
