<div class="player-wrap" id="player-wrap">
	<div class="player-video" id="player-video"></div>
	<div id="player-liveicon">
		<i></i><span>直播</span>
	</div>
	<div class="player-loading" id="player-loading">
		<div class="player-loading-logo"></div>
		<div class="player-loading-progress" alt="进度条"></div>
	</div>
</div>

<div id="player-ctrl-full-area"></div>
<div class="player-ctrl-wrap" id="player-ctrl-wrap"></div>

<div class="player-gift-wrap" id="player-gift-wrap">

	<div class="player-chest">
		<div class="player-chest-btn">
			<div class="player-chest-bg" id="player-chest-btn">
				<div class="player-chest-cd">
					30:00
				</div>
				<div class="chest-award-count"></div>
			</div>
		</div>
		<p class="player-chest-tip">
			<i class="chest-stat-2"></i>
			<i class="chest-stat-3"></i>
			<span></span>
		</p>
		<p class="player-chest-login">
			<i></i><span></span>
		</p>
	</div>

	<div class="guess-icon">
		<i></i>
		<div class="guess-icon-word">
			<p>玩竞猜</p>
			<p>赢豆子</p>
		</div>
	</div>

	<ul class="player-gift-right">
		<li id="player-punch-btn">
			<i></i>
			<p>首充礼包</p>
			<span class="player-bot-line"></span>
		</li>
		<li id="player-recharge-btn">
			<i></i>
			<p>充值</p>
			<span class="player-bot-line"></span>
		</li>
		<li id="player-package-btn">
			<i></i>
			<p>包裹</p>
			<span class="player-bot-line"></span>
		</li>
	</ul>

	<div class="player-face" id="player-face"></div>
</div>
